#main {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 155, 255);
}

#title {
    font-size: 40px;
    font-weight: bold;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(56, 31, 31);
    padding: 100px 20px 0;
    letter-spacing: 5px;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);

}


#img-div {
    width: 85%;
    max-width: 1200px;
    margin-top: 20px;

}

#introduction {
    font-size: 18px;
    line-height: 1.2em;
    margin: auto;
    padding: 10px;
    display: flex;
    width: 75%;
}

#image {
    max-width: 100%;
    height: 30%;
    display: block;
    margin: auto;
    border-style: groove;
    border-radius: 20px;

}

#img-caption {
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;


}

#tribute-info {
    font-size: 18px;
    line-height: 1.2em;
    margin: auto;
    padding: 50px;
    display: flex;
    width: 75%;
    justify-content: space-between;
    border-radius: 5px;
    background: rgb(155, 255, 255, .3);
    box-shadow: 15px 15px 5px -3px rgba(10, 10, 0, 0.5);
}

.left-column {
    text-align: justify;
    text-justify: inter-word;
    flex-basis: 50%;
    padding: 10px;

}

.right-column {
    text-align: justify;
    text-justify: inter-word;
    flex-basis: 50%;
    padding: 10px;
}